svg{
    width: 75%;
    height: 100%;
}

#Try .Header{
    /*background: #848484;*/
    border:none;
    font-family: "Righteous", sans-serif;
    text-align: right;
    margin-top: 5%;
}

#Try .row{
    /*background: rgba(227, 227, 227, 0.8);*/
    border: none;
}

#Try .entry{
    margin-top: 10px;
    margin-bottom: 10px;
}

#Try .column{
    display: inline-block;
    padding:15px;
    float: left;
}

#Try .column.big{
    width:80%;
    margin-top: 4%;
    text-align: center;
}

#Try #vis2{
    margin-top: 0;
}

#Try .column.side{
    width: 20%;
    /*border-bottom: thick solid rgba(255, 255, 255, 0.8);*/
    /*height: 33%;*/
}
/* Clear floats after the columns */
#Try .row:after {
    content: "";
    display: table;
    clear: both;
}

#Try .hLine{
    height: 3px;
    opacity: 0.5;
    border:none;
    border-radius:5px;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-left: -87%;
    margin-right: 15%;
}

#Try #hline1{
    background-color: #2f4158;
}

#Try #hline2{
    background-color: #2b67ff;
}

#Try .form{
    text-align:center;
    padding: 2px
}

#Try .form.PP{
    font-family:Elianto;
    font-weight: bold;
    color: #2F3E65;
}

#Try .form.SC{
    font-family:Elianto;
    font-weight: bold;
    color: rgba(43, 103, 255, 0.8)
}

#Try .form.S{
    font-family:Elianto;
    font-weight: bold;
    color: #79c4c4;
}

#Try .btns.pp{
    background-color: rgba(47, 62, 101, 0.6);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2F3E65), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #2F3E65 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #2F3E65 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #2F3E65 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #2F3E65 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #2F3E65 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F3E65', endColorstr='#476e9e',GradientType=0);
}
#Try .btns.sc{
    background-color: rgba(43, 103, 255, 0.6);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(43, 103, 255, 0.6)), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, rgba(43, 103, 255, 0.6) 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, rgba(43, 103, 255, 0.6) 5%, #476e9e 100%);
    background:-o-linear-gradient(top, rgba(43, 103, 255, 0.6) 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, rgba(43, 103, 255, 0.6) 5%, #476e9e 100%);
    background:linear-gradient(to bottom, rgba(43, 103, 255, 0.6) 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(43, 103, 255, 0.6)', endColorstr='#476e9e',GradientType=0);
}

#Try .btns{
    -moz-box-shadow: 0px 0px 2px 3px #acacac;
    -webkit-box-shadow: 0px 0px 2px 3px #acacac;
    box-shadow: 0px 0px 2px 3px #acacac;
    -moz-border-radius:5%;
    -webkit-border-radius:5%;
    display: inline-block;
    border:none;
    border-radius:15%;
    /*border:thin solid #79c4c4;*/
    cursor:pointer;
    color:#ffffff;
    font-family: Verdana;
    font-size: 125%;
    font-weight: bold;
    /*padding:11px 15px;*/
    text-decoration:none;
    position: relative;
    margin: 3px 3px 3px 3px;
    width:20%;
    padding-bottom: 4%;
    padding-top: 4%;
    margin-bottom: 8%;
    /*max-height: 50px;*/
    /*max-width: 50px;*/
}

#Try .btns.sc[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #53668b;
    -webkit-box-shadow: 0px 0px 4px #53668b;
    box-shadow: 0px 0px 4px #2b67ff;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

#Try .btns:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}

#Try .btns:active{
    position:relative;
    top:1px;
}

#Try .loadFile{
    margin-bottom: 30px;
}

/*style plots*/
g .axis{
    font-weight: normal;
    font-family: Lato;
    font-size: small;
}

g .axis .domain{
    box-sizing: border-box;
    stroke-width: 2;
    stroke: #2f4158;
    stroke-opacity: 0.4;
    /*shape-rendering: crispedges;*/
}


g .axis .tick text{
    fill:#2f4158;
}

g .axis .tick line{
    stroke: #dcdcdc;
}

g .axis .label{
    font-family: lato;
    font-weight: bolder;
    font-size: small;
    color: #7386d5;
}

.preview, .load, .channels{
    text-align: center;
    margin: 0;
}


.channelButton{
    display: inline-block;
    padding-left: 25px;
}